include *.txt
include AUTHORS COPYING ChangeLog INSTALL README ReleaseNotes
recursive-include Licenses *.txt
recursive-include src *.png
include data/examples *.spj
include data/examples/Data *.dat
recursive-include data/icons *.png *.svg
include data/desktop-integration/*
include sloppyplot.build




