[Desktop Entry]
Encoding=UTF-8
Name=SloppyPlot
GenericName=Scientific Plotting Tool
GenericName[de]=Wissenschaftliches Zeichenwerkzeug
Icon=/usr/share/pixmaps/sloppyplot.png
Exec=sloppyplot
Terminal=False
Type=Application
Categories=Science
