include *.txt
include AUTHORS COPYING ChangeLog INSTALL README ReleaseNotes
recursive-include Licenses *.txt
recursive-include src *.png
include Examples *.spj
include Examples/Data *.dat
recursive-include Icons *.png *.svg
include sloppyplot.desktop sloppyplot.xml 
include sloppyplot.build



